
.para-examples {
	p {
		margin-bottom: 0.25rem;
	}
}

.example-grid {
	[class*=col-] {
		text-align: center;

		div {
			background-color: $blue-700;
			border-radius: 3px;
			box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
			color: $white;
			padding: 1rem;
			transition: background-color 0.3s ease;
			
			&:hover {
				background-color: lighten($blue-700, 10%);
			}
		}
	}

	[class*=offset-] {
		text-align: center;

		div {
			background-color: $white;
			border: 2px solid $blue-700;
			box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
			border-radius: 3px;
			color: $blue-700;
			padding: 1rem;
			transition: background-color 0.3s ease;
			
			&:hover {
				background-color: lighten($blue-700, 10%);
				color: $white;
			}
		}
	}
}


