
.hero {
	background: rgb(83,226,188);
    background: linear-gradient(225deg, rgba(83,226,188,1) 0%, rgba(83,205,226,1) 20%, rgba(48,156,190,1) 46%, rgba(23,136,190,1) 72%, rgba(0,87,146,1) 100%);
	position: relative;
	overflow: hidden;
}

.hero-content {
	color: $white;
	padding: 3em 0 10em;
	text-align: center;
	
	p {
		@include responsive-text(18px, 22px);
		display: block;
		margin: 0 auto;
		max-width: 600px;
	}
}

.hero--headline {
	@include responsive-text(45px, 75px);
	color: $white;
}

.hero--overlay {
	transform: rotate(-7deg);
	background-color: $white;
	bottom: -5em;
	height: 210px;
	position: absolute;
	width: 110%;
}

