
// this is just notes, will need to be improved/fixed

	// total col width = 95px
	// gutter width =11.25 (each side) *2 == 22.5px
	// col width = 70px


$grid-12: 12;

.grid-12 {
	@include clearfix;
	box-sizing: border-box;
	margin: auto;
	max-width: 1180px;
	width: 96%;
	
	@for $i from 1 through $grid-12 {

		.col-#{$i} {
			width: percentage($i/$grid-12); 
		}

		.offset-#{$i} { 
			margin-left: percentage($i/$grid-12); 
		}
	}

	[class*=col-] {
		@include clearfix;
		box-sizing: border-box;
		float: left;
		padding: 0 percentage(12/1140);
		
		@include bp(ml) {
			width: 100%;
		}
	}

	[class*=offset-] {
		@include clearfix;
		box-sizing: border-box;
		float: left;
		padding: 0 percentage(12/1140);
		
		@include bp(ml) {
			margin-left: 0;
		}
	}
}

.container {
	padding: 2em 0;
}
