
// Move this once you start making blocks
.container {
	padding: 2em 0;
}


[class^="grid-"] {
	margin: auto;
	max-width: 1180px;
	width: 96%;
}

.grid-12 {
	@include clearfix;
	box-sizing: border-box;
	
	@for $i from 1 through $grid-12 {

		.col-#{$i} {
			width: percentage($i/$grid-12); 
		}

		.offset-#{$i} { 
			margin-left: percentage($i/$grid-12); 
		}
	}

	[class*=col-] {
		@include clearfix;
		box-sizing: border-box;
		float: left;
		padding: 0 percentage(12/1140);
		
		@include bp(ml) {
			width: 100%;
		}
	}

	[class*=offset-] {
		@include clearfix;
		box-sizing: border-box;
		float: left;
		padding: 0 percentage(12/1140);
		
		@include bp(ml) {
			margin-left: 0;
		}
	}
}

.grid-css {
	display: grid;
	grid-template-columns: repeat($grid-css, 1fr);

	@for $i from 1 through $grid-css {
		@for $a from 1 through $grid-css {

			.col-#{$a}-#{$i} {
				grid-column-start: $a; 
				grid-column-end: ($i + 1); 
			}
		}
	}
}