

$header-nav-main-links: 6; // # of top level nav links
$header-nav-main-height: 50; // nav-height in pixels
$menu-columns: 2; //


.header-nav {
	padding: 2em 0;
}

.navigation-main {
	@include clearfix;
	background-color: #ccc;
	display: flex;
	list-style: none;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	
	a {
		display: block;
		height: em($header-nav-main-height);
		line-height: em($header-nav-main-height);
		text-decoration: none;
	}
}
	
li[class*="nav-"]  {
	position: relative;
	text-align: center;
	width: percentage(1/$header-nav-main-links);
	
	&:hover {
		.nav-menu {
			display: block;
			left: auto;
			top: auto;
		}
	}
}

.nav-menu {
	@include clearfix;
	background-color: #aaa;
	position: absolute;
	left: -999em;
	top: -999em;
	width: em(350);
	z-index: 100;
}

.nav-menu--col {
	list-style: none;
	padding: 0;
	text-align: left;
	font-size: 0.8em;
	
	@if $menu-columns{
		float: left;
		width: percentage(1/$menu-columns);
	} @else {
		width: 100%;
	}
}

.nav-6 {
	.nav-menu {
		right: 0;
	}
}


// traditional way
// .header-nav {
// 	padding: 2em 0;
// }

// .navigation-main {
// 	@include clearfix;
// 	background-color: #ccc;
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
	
// 	a {
// 		display: block;
// 		height: em($header-nav-main-height);
// 		line-height: em($header-nav-main-height);
// 		text-decoration: none;
// 	}
// }
	
// li[class*="nav-"]  {
// 	float: left;
// 	position: relative;
// 	text-align: center;
// 	width: percentage(1/$header-nav-main-links);
	
// 	&:hover {
// 		.nav-menu {
// 			display: block;
// 			left: auto;
// 			top: auto;
// 		}
// 	}
// }

// .nav-menu {
// 	@include clearfix;
// 	background-color: #aaa;
// 	position: absolute;
// 	left: -999em;
// 	top: -999em;
// 	width: em(350);
// 	z-index: 100;
// }

// .nav-menu--col {
// 	list-style: none;
// 	padding: 0;
// 	text-align: left;
// 	font-size: 0.8em;
	
// 	@if $menu-columns{
// 		float: left;
// 		width: percentage(1/$menu-columns);
// 	} @else {
// 		width: 100%;
// 	}
// }

// .nav-6 {
// 	.nav-menu {
// 		right: 0;
// 	}
// }
