
html, .root {
  
}

body {
  // @include responsive-text($min_width, $max_width, $min_font, $max_font);
  font-family: sans-serif;
  line-height: $line-height;
  margin: auto;
}
h1, .h1 {
  font-size: 4.25em;
  line-height: 1.14705882em;
  margin-top: 0.38235294em;
  margin-bottom: 0.76470588em;
}
h2, .h2 {
  font-size: 2.625em;
  line-height: 1.46808511em;
  margin-top: 0.4893617em;
  margin-bottom: 0.4893617em;
}
h3, .h3 {
  font-size: 1.625em;
  line-height: 1.5862069em;
  margin-top: 0.79310345em;
  margin-bottom: 0em;
}
h4, .h4 {
  font-size: 1.312em;
  line-height: 1.27777778em;
  margin-top: 1.27777778em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1.25em;
  line-height: 1.27777778em;
  margin-top: 1.27777778em;
  margin-bottom: 0em;
}
h6, .h6 {
  font-size: 1.125em;
  line-height: 1.27777778em;
  margin-top: 1.27777778em;
  margin-bottom: 0em;
  margin-bottom: 0em;
}
p {
    @include fluid-text( rel-unit(1em),  rel-unit(1.5em));
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.625em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}