
/*================================================
					Breakpoints
==================================================*/
$mp: 479;
$ml: 667;
$tp: 800;
$tl: 1100;
$dk: 1101;
$lg: 1901;


/*================================================
				// Grid column variables
==================================================*/

$grid-12: 12;
$grid-css: 12;
$grid-css-row: 100;

/*================================================
				// Typography variables
==================================================*/

$line-height: 1.6;

// sets font-size range
$em-base: 16;
$em-base-max: 22;


/*================================================
				// Responsive units
==================================================*/

// min-vw and max-vw for fluid font size
$min-viewport: ($ml / 16) * 1em;
$max-viewport: ($lg / 16) * 1em;

// // min and max font size for fluid font
$min-font: ($em-base / 16) * 1em;
$max-font: ($em-base-max / 16) * 1em;


