
.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	@include responsive-text( 14px, 20px);
	background-color: $blue-700;
	border: 1px solid $blue-900;
    border-radius: 4px;
    box-sizing: border-box;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-family: "system";
	line-height: 1rem;
	margin: 0 0 0.5em;
	padding: 1em 1.5em;
	text-align: center;
	text-decoration: none;
	transition: 0.3s ease;
	
	&:hover {
		background-color: lighten($blue-700, 10%)
	}
}
.button-full {
	width: 100%;
}

.button-large {
	 @include responsive-text( 16px, 24px);
	padding: 1.2em 1.5em;
}

.button-small {
	 @include responsive-text( 10px, 16px);
	padding: 0.8em 1em;
}

.button-ghost {
	background-color: transparent;
	border-color: $blue-700;
	color: $blue-700;
	
	&:hover {
		background-color: darken(#fff, 5%)
	}
}

.button-secondary, 
input[type="reset"].button-secondary,
input[type="submit"].button-secondary,
input[type="button"].button-secondary {
	background-color: $blue-500;
	border-color: $blue-700;
	color: $blue-700;
	
	&:hover {
		background-color: lighten($blue-500, 10%)
	}
}

.button-ghost.button-secondary {
	background-color: transparent;
	border-color: $blue-500;
	color: $blue-500;
	
	&:hover {
		background-color: darken(#fff, 5%)
	}
}
