// Triggers on page load
.load-in {
	@include load-in;
}

.load-left {
	@include load-left;
}

.load-right {
	@include load-right;
}

.load-up {
	@include load-up;
}

.load-down {
	@include load-down;
}

// triggers when element is in
// this section is attached to some JS
.fade-in {
	@include fade-in;
}

.fade-up {
	@include fade-up;
}

.fade-down {
	@include fade-down;
}

.fade-left {
	@include fade-left;
}

.fade-right {
	@include fade-right;
}

// Gets attached on '.fade-in' when elememnt is in view.
.in-view {
	opacity: 1;
	transform: translate(0, 0);
	visibility: visible;
}
