// Triggers on page load
.load-in {
	@include load-in;
}

.load-in-left {
	@include load-in-left;
}

.load-in-right {
	@include load-in-right;
}

.load-in-up {
	@include load-in-up;
}

.load-in-down {
	@include load-in-down;
}

// triggers when element is in
// this section is attached to some JS
.fade-in {
	transition: transform 0.5s ease 0.25s, opacity 1s ease 0.25s;
	opacity: 0;
	visibility: hidden;
}

.fade-up {
	transform: translateY(3em);
}

.fade-down {
	transform: translateY(-3em);
}

.fade-left {
	transform: translateX(-3em);
}

.fade-right {
	transform: translateX(3em);
}

// Gets attached on '.fade-in' when elememnt is in view.
.in-view {
	opacity: 1;
	transform: translate(0, 0);
	visibility: visible;
}
