
$break-large: 900px;

// table,
// .table {
//   border: 1px solid $blue-700;
//   border-spacing: 0;
//   text-align: center;
//   width: 100%;
// }

// thead,
// .table-head {
//   background-color: $blue-700;
//   color: $blue-300;
  
//   th {
//     padding: 1em;
//   }
// }

// tbody,
// .table-body {
//   tr {
//     color: $blue-700;
//   }

//   tr:nth-of-type(odd) {
//     background-color: $blue-100;
//   }

//   th,
//   td {
//     padding: 1em;
//   }
// }


$table-fold: ml;

table {
  border: 1px solid $blue-700;
  border-spacing: 0;
  margin: 1em 0 3em;
  width: 100%;

    // @include bp($table-fold){
    //   // table-layout: auto;
    //   display: flex;
    //   flex-wrap: wrap;
    //   width: 100%;
    // }

  & + table,
  & + h3{
    margin-top: 2.5em;
  }
}

tr {
  text-align: center;
  vertical-align: middle;

  // @include bp($table-fold){
  //   display: block;
  //   margin-bottom: 2em;
  //   width: 100%;
  //   padding: 0.5em;
  //  box-sizing: border-box; 
  // }

  // @include bp(tablet-portrait){
  //   width: 100%;
  //   padding: 0;
  // }
  
  
  // tbody &:nth-child(even){

  //   @include bp($table-fold){
  //     padding-right: 0;
  //   }
  // }
}

th, td {
  padding: 1em 1em;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box; 

  // @include bp(tablet-portrait){
  //   vertical-align: middle;
  // }

  // @include bp($table-fold){
  //   display: block;
  //   width: auto;
  //   empty-cells: hide !important;
  //   padding: 0.75em 0.5em;
  // }

  &:first-child{

    &:empty{

      @include bp($table-fold){
        display: block;
      }
    }
  }
}

td:empty{

  // @include bp($table-fold){
  //   display: none !important;
  //   padding: 0 !important;
  // }
}

thead{
  background-color: $blue-700;
  color: $blue-300;

  // @include bp($table-fold){
  //   display: none;
  // }

  th{
    vertical-align: middle;
  }
}

tbody{
  color: $blue-700;
  width: 100%;

  // @include bp($table-fold){
  //   display: flex;
  //   flex-wrap: wrap;
  //   width: 100%;
  // }

  tr:nth-of-type(odd) {
    background-color: $blue-100;

    @include bp($table-fold){
      background-color: transparent;
      padding-left: 0;
    }
  }

  td,
  th{

    &[data-title]:before {

      // @include bp($table-fold){
      //   content: attr(data-title);
      //   display: block;
      //   font-weight: 600;
      //   text-transform: uppercase;
      //   color: #555;
      //   float: left;
      //  box-sizing: border-box; 
      // }
    }

    // &:empty[data-title]:before{
    //   content: '';
    // }
  }

  th{
    font-weight: bold;

    // @include bp($table-fold){
    //   color: $black;

    //   text-transform: uppercase;
    //   text-align: right;
    //   border-color: $black;
    //   width: 100%;
    // }
  }

  td{
    // @include bp($table-fold){
    //   text-align: right;
    // }
  }
}
